################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/AzureFileuploadDemo/.vs/DemoWebApp/v15/Server/sqlite3
