################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/AzureFileuploadDemo/.vs/DemoWebApp/v15/Server/sqlite3
/Source/AzureFileuploadDemo/.vs/DemoWebApp/v15/.suo
/Source/AzureFileuploadDemo/DemoWebApp/obj/Debug
/Source/AzureFileuploadDemo/packages
